@import "tailwindcss";

.lg-backdrop.in {
  opacity: 0.85;
}

.lg-next,
.lg-prev,
.lg-outer .lg-thumb-outer {
  background-color: transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff8d37;
  --text-dark: #1b1918;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
}

@utility container-sm {
  padding-inline: 100px;
  margin-inline: auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-dark: var(--text-dark);
  --color-primary: var(--primary);

  --font-galada: var(--font-galada);
  --font-inter: var(--font-inter);
  --font-sacramento: var(--font-sacramento);
  --font-antonio: var(--font-antonio);
}

html,
body {
  @apply scroll-smooth;
  scroll-padding-top: 120px;
  overflow-y: overlay;
  /* overflow-x: hidden */
}

body {
  @apply bg-[#F3EEE5] text-text-dark;
}

h1 {
  @apply font-antonio uppercase text-9xl leading-44;
}

h2 {
  @apply font-antonio uppercase text-2xl sm:text-[2.1rem];
}

h3 {
  @apply font-galada text-[1.4rem] sm:text-[1.5rem];
}

h4 {
  @apply font-antonio text-xl sm:text-2xl;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@layer components {
  .load {
    width: 50px;
    height: 50px;
    margin: 110px auto 0;
    border: solid 5px #ff8d37;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .nav-link {
    @apply text-[#E7E7E7] tracking-widest text-xs hover:text-white hover:cursor-pointer;
  }

  .nav-link-dark {
    @apply text-[#2b2929] font-semibold tracking-widest text-xs hover:text-[#111111] hover:cursor-pointer;
  }

  .service-item {
    @apply flex flex-col items-center mb-8 sm:mb-0;
  }

  .gallery-img {
    @apply h-auto w-full max-w-none rounded-lg cursor-pointer;
  }
}
